.App {
    width: 400px;
    margin: 0 auto;
    padding: 20px 0;
}

.App .theList {
    list-style: none;
    padding: 0;
    margin: 0 10px 25px;
}

.App .theList li {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 5px 0;
    cursor: pointer;
}

.App .theList li .theList_text {
    width: 100%;
    padding: 5px 20px;
    border: 1px solid #b3ccff;
    background-color: #b3ccff;
    outline: 0;
}

.App .theList li .theList_text:hover {
    background-color: #ccddff;
    transition: all .15s ease-in-out;
}

.App .theList li .theList_text:focus {
    background-color: white;
    transition: all .15s ease-in-out;
}

.App .theList li .theList_delete {
    display: block;
    height: 100%;
    padding: 5px 10px;
    border: 1px solid #1f2968;
    background-color: #1f2968;
    color: white;
}

.App .theList li .theList_delete:hover {
    background-color: #000000;
    transition: all .15s ease-in-out;
}

.App .todoListMain form {
    display: flex;
    justify-content: space-between;
}

.App .todoListMain input {
    width: 100%;
    margin: 0 10px;
    padding: 0 10px;
    border: 1px solid rgba(88, 111, 176, 0.41);
    border-radius: 5px;
    outline: 0;
}

.App .todoListMain input:hover, .App input:focus {
    border-color: #2a38b0;
    transition: all .15s ease-in-out;
}

.App .todoListMain button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #b3ccff;
    border: 0;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    flex-shrink: 0;
}

.App .todoListMain button:hover, .App .todoListMain button:focus {
    background-color: #6495ed;
    transition: all .15s ease-in-out;
}